header {
  max-width: 650px;
  width: 100%;
  padding: 5rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  a {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
  }

  p {
    padding-block: 0.4rem;
  }
}

a {
  align-items: center;
  padding-block: 0.4rem;
}

.socials {
  display: flex;
  gap: 1rem;
}

.social-icon {
  color: var(--base-color);
  height: 1.8rem;
  width: 1.8rem;
}

.linkedin-icon {
  color: #0e76a8;
}

.wallet {
  display: none;
}

.wallet-link {
  display: none;
}

.wallet a {
  display: flex;
  align-items: center;
}

.wallet-icon {
  height: 1.8rem;
  width: auto;
}

@media (max-width: 768px) {
  .wallet {
    display: flex;
    gap: 1rem;
  }

  .wallet-link--google {
    display: flex;
  }

  @supports (-webkit-touch-callout: none) {
    .wallet-link--google {
      display: none;
    }

    .wallet-link--apple {
      display: flex;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
