header {
  max-width: 650px;
  width: 100%;
  padding: 5rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

a {
  align-items: center;
}

header a {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}

header p,
a {
  padding-block: 0.4rem;
}

.socials {
  display: flex;
  gap: 1rem;
}

.social-icon {
  color: var(--base-color);
  height: 1.8rem;
  width: 1.8rem;
}

.linkedin-icon {
  color: #0e76a8;
}

section a.button {
  background-color: var(--base-color);
  color: var(--base-bg);
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
  font-weight: 500;
  transition: background-color 0.2s ease;
  text-decoration: none;
  display: inline-block;
  width: fit-content;
}

section a.button:hover {
  border-color: var(--accent-primary);
  background-color: var(--accent-primary);
  color: var(--base-bg);
}
