---
import Layout from "../layouts/layout.astro";
import Header from "../components/header.astro";
import "../styles/about.css";
---

<Layout title="About">
  <Header />
  <main>
    <h2><span style="view-transition-name: title;">About</span></h2>
    <section>
      <p>
        Shintaro (taroj1205) is a developer and a student at University of
        Auckland.
      </p>
      <p>
        I was born on 2005 in Tokyo, and I moved to Ehime after the earthquake
        on 2011.
      </p>
      <p>
        I went to New Zealand for the first time in 2017, and went to the local
        juniour high school in Auckland for a year.
      </p>
      <p>
        I went to Cebu, Philippines for 3 months in 2018 to study English, then
        I went to local juniour high school in Cebu for a year.
      </p>
      <p>
        I went back to New Zealand for the second time in 2019, and went to the
        local juniour high school in Auckland for 5 years.
      </p>
      <p>
        I had an ACL injury in 2019 from playing football. I was told I'm too
        young for a surgery, so I started going to physio for rehabilitation.
      </p>
      <p>
        After a year of rehabilitation, I returned light sports, and I did my
        2nd ACL injury in 2020. I did a surgery, and recovered from the injury.
        I started playing various sports like football, table tennis and
        badminton.
      </p>
      <h3>Employment</h3>
      <p>
        I graduated my high school in 2023, and I started my university studies
        at University of Auckland. I was accepted to the Computer Science and IT
        Management double major program.
      </p>
      <p>
        In January 2024, I was asked to be a teacher aid for the Japanese
        international students at my high school for a month, and I helped them
        with getting into school, resolving any issues they had whether it is
        school or home-stay related. I also made sure they are not being left
        behind in class.
      </p>
      <p>
        In March 2024, I joined the Yamada UI maintainer team and I've been
        contributing to Yamada UI since. I had been taught various things by the
        Yamada UI team, and I'm learning more and more.
      </p>
      <p>
        In July 2024, I was hired by YAGO as a teacher for <a
          href="https://kids.classmall.jp/"
          target="_blank"
          rel="noopener noreferrer">classmall Kids</a
        > which teaches programming to Japanese children on Minecraft Education.
      </p>
      <p>
        In October 2024, I started contributing to <a
          href="https://zen-browser.app/"
          target="_blank"
          rel="noopener noreferrer">Zen Browser</a
        >'s website, and joined their contribution team on November.
      </p>
      <h3>Things I like doing</h3>
      <ul>
        <li>Playing sports</li>
        <ul>
          <li>Football</li>
          <li>Kendama</li>
          <li>Table Tennis</li>
          <li>Badminton</li>
          <li>Softball</li>
        </ul>
        <li>Programming</li>
        <ul>
          <li>Web</li>
          <li>Desktop</li>
        </ul>
      </ul>
    </section>
    <section>
      <h3>Contact</h3>
      <p>
        Contact me at
        <a href="https://x.com/taroj1205">x.com/taroj1205</a>
        or
        <a href="https://www.linkedin.com/in/taroj/">linkedin.com/in/taroj/</a>.
      </p>
    </section>
  </main>
</Layout>
