---
import Layout from '../layouts/layout.astro'
import Header from '../components/header.astro'
import '../styles/about.css'
---

<Layout title="About">
  <Header />
  <main>
    <h2><span style="view-transition-name: title;">About</span></h2>
    <section>
      <p>
        I (<a
          href="https://x.com/taroj1205"
          target="_blank"
          rel="noopener noreferrer">taroj1205</a
        >) am a developer based in New Zealand, and a student at University of
        Auckland.
      </p>
      <p>
        I was born in 2005 in Tokyo, and I moved to Ehime after the 2011
        earthquake.
      </p>
      <p>
        I went to New Zealand for the first time in 2017, and went to the local
        junior high school in Auckland for a year.
      </p>
      <p>
        I went to Cebu, Philippines for three months in 2018 to study English,
        then I went to a local junior high school in Cebu for a year.
      </p>
      <p>
        I went back to New Zealand for the second time in 2019, and went to the
        local junior high school in Auckland for five years.
      </p>
      <p>
        I had an ACL injury in 2019 from playing football. I was told I'm too
        young for surgery, so I started physio for rehabilitation.
      </p>
      <p>
        After a year of rehabilitation, I returned to light sports and tore my
        ACL a second time in 2020. I had surgery and recovered from the injury.
        I started playing various sports like football, table tennis, and
        badminton.
      </p>
      <p>
        At the end of 2024, I tore my ACL for the third time while playing
        football. I started going to the gym to train and get back into sports.
      </p>
      <h3>Employment</h3>
      <p>
        I graduated from my high school in 2023, and I started my university
        studies at the University of Auckland. I was accepted into the Computer
        Science and IT Management double major program.
      </p>
      <p>
        In January 2024, I was asked to be a teacher aide for the Japanese
        international students at my high school for a month, and I helped them
        settle into school and resolve any issues, whether school- or
        homestay-related. I also made sure they were not being left behind in
        class.
      </p>
      <p>
        In March 2024, I joined the Yamada UI maintainer team and have been
        contributing since. I learned a lot from the Yamada UI team and continue
        to learn more.
      </p>
      <p>
        In July 2024, I was hired by YAGO as a teacher for <a
          href="https://kids.classmall.jp/"
          target="_blank"
          rel="noopener noreferrer">classmall Kids</a
        >, which teaches programming to Japanese children on Minecraft
        Education.
      </p>
      <p>
        In October 2024, I started contributing to <a
          href="https://zen-browser.app/"
          target="_blank"
          rel="noopener noreferrer">Zen Browser</a
        >'s website and joined their contribution team in November.
      </p>
      <p>
        In April 2025, I joined the Web Development and Consulting Club at the
        University of Auckland. I've developed a website for <a
          href="https://uoabadminton.co.nz"
          target="_blank"
          rel="noopener noreferrer">University of Auckland Badminton Club</a
        > with an awesome team throughout the year.
      </p>
      <p>
        In November 2025, I joined <a
          href="https://hazumi.co.jp"
          target="_blank"
          rel="noopener noreferrer">Hazumi Inc.</a
        > as a software engineer.
      </p>
      <p>Things I like doing:</p>
      <ul>
        <li>
          Playing sports
          <ul>
            <li>Football</li>
            <li>Kendama</li>
            <li>Table Tennis</li>
            <li>Badminton</li>
            <li>Softball</li>
          </ul>
        </li>
        <li>
          Programming
          <ul>
            <li>Web applications</li>
            <li>Desktop applications</li>
            <li>Scripting</li>
          </ul>
        </li>
      </ul>
    </section>
    <section>
      <h3>Contact</h3>
      <p>
        Contact me at
        <a
          href="https://x.com/taroj1205"
          target="_blank"
          rel="noopener noreferrer">x.com/taroj1205</a
        >
        or
        <a
          href="https://www.linkedin.com/in/taroj"
          target="_blank"
          rel="noopener noreferrer">linkedin.com/in/taroj</a
        >.
      </p>
    </section>
  </main>
</Layout>
