---
import Layout from '../layouts/layout.astro'
import Header from '../components/header.astro'
import '../styles/about.css'
---

<Layout title="About">
  <Header />
  <main>
    <h2><span style="view-transition-name: title;">About</span></h2>
    <section>
      <p>
        I (<a
          href="https://x.com/taroj1205"
          target="_blank"
          rel="noopener noreferrer">taroj1205</a
        >) am a developer based in New Zealand, and a student at University of
        Auckland.
      </p>
      <p>
        I was born on 2005 in Tokyo, and I moved to Ehime after the earthquake
        on 2011.
      </p>
      <p>
        I went to New Zealand for the first time in 2017, and went to the local
        juniour high school in Auckland for a year.
      </p>
      <p>
        I went to Cebu, Philippines for 3 months in 2018 to study English, then
        I went to local juniour high school in Cebu for a year.
      </p>
      <p>
        I went back to New Zealand for the second time in 2019, and went to the
        local juniour high school in Auckland for 5 years.
      </p>
      <p>
        I had an ACL injury in 2019 from playing football. I was told I'm too
        young for a surgery, so I started going to physio for rehabilitation.
      </p>
      <p>
        After a year of rehabilitation, I returned light sports, and I did my
        2nd ACL injury in 2020. I did a surgery, and recovered from the injury.
        I started playing various sports like football, table tennis and
        badminton.
      </p>
      <p>
        End of 2024, I have done my 3rd ACL injury playing football. I started
        going to gym to train, and getting back to sports again.
      </p>
      <h3>Employment</h3>
      <p>
        I graduated from my high school in 2023, and I started my university
        studies at University of Auckland. I was accepted to the Computer
        Science and IT Management double major program.
      </p>
      <p>
        In January 2024, I was asked to be a teacher aid for the Japanese
        international students at my high school for a month, and I helped them
        with getting into school, resolving any issues they had whether it is
        school or home-stay related. I also made sure they are not being left
        behind in class.
      </p>
      <p>
        In March 2024, I joined the Yamada UI maintainer team and I've been
        contributing to Yamada UI since. I had been taught various things by the
        Yamada UI team, and I'm learning more and more.
      </p>
      <p>
        In July 2024, I was hired by YAGO as a teacher for <a
          href="https://kids.classmall.jp/"
          target="_blank"
          rel="noopener noreferrer">classmall Kids</a
        > which teaches programming to Japanese children on Minecraft Education.
      </p>
      <p>
        In October 2024, I started contributing to <a
          href="https://zen-browser.app/"
          target="_blank"
          rel="noopener noreferrer">Zen Browser</a
        >'s website, and joined their contribution team on November.
      </p>
      <p>
        In April 2025, I joined the Web Development and Consulting Club at
        University of Auckland. I've developed a website for <a
          href="https://uoabadminton.co.nz"
          target="_blank"
          rel="noopener noreferrer">University of Auckland Badminton Club</a
        > with awesome team members throughout the year.
      </p>
      <p>
        In November 2025, I was hired by <a
          href="https://hazumi.co.jp"
          target="_blank"
          rel="noopener noreferrer">Hazumi Inc.</a
        > as a software engineer.
      </p>
      <p>Things I like doing:</p>
      <ul>
        <li>
          Playing sports
          <ul>
            <li>Football</li>
            <li>Kendama</li>
            <li>Table Tennis</li>
            <li>Badminton</li>
            <li>Softball</li>
          </ul>
        </li>
        <li>
          Programming
          <ul>
            <li>Web applications</li>
            <li>Desktop applications</li>
            <li>Scripting</li>
          </ul>
        </li>
      </ul>
    </section>
    <section>
      <h3>Contact</h3>
      <p>
        Contact me at
        <a
          href="https://x.com/taroj1205"
          target="_blank"
          rel="noopener noreferrer">x.com/taroj1205</a
        >
        or
        <a
          href="https://www.linkedin.com/in/taroj/"
          target="_blank"
          rel="noopener noreferrer">linkedin.com/in/taroj/</a
        >.
      </p>
    </section>
  </main>
</Layout>
