---
import LeafIcon from '../icons/leaf-icon.astro'

const { isBlog } = Astro.props
---

<header>
  {
    isBlog ? (
      <h2>
        <a href="/">
          <span style="view-transition-name: name;">taroj1205</span>
          <LeafIcon style="view-transition-name: leaf;" />
        </a>
      </h2>
    ) : (
      <h1>
        <a href="/">
          <span style="view-transition-name: name;">taroj1205</span>
          <LeafIcon style="view-transition-name: leaf;" />
        </a>
      </h1>
    )
  }
</header>

<style>
  header {
    place-content: flex-start;
    place-self: flex-start;
    max-width: 1200px;
    padding: 1.2rem 1.5rem;
  }

  header a {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
  }

  header a svg {
    place-self: flex-start;
  }
</style>
