---
import "../styles/global.css";
import BgCircles from "./bg-circles.astro";

const { title = "Portfolio", description = "taroj1205's portfolio" } =
  Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <link rel="icon" href="/favicon.ico" type="image/ico" />
    <title>taroj1205 - {title}</title>
  </head>
  <body>
    <BgCircles />
    <slot />
    <footer>
      <p>
        This portfolio was inspired by <a href="https://catnose.me"
          >catnose.me</a
        >.
      </p>
      <p>
        © 2025 <a href="https://x.com/taroj1205" style="text-decoration: none;"
          >taroj1205</a
        >
      </p>
    </footer>
  </body>
</html>
