---
import "../styles/global.css";
import "../styles/inter.css";
const siteUrl = import.meta.env.PUBLIC_SITE_URL ?? "http://localhost:4321";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="taroj1205's portfolio" />
    <link rel="icon" href="/favicon.ico" type="image/ico" />
    <link rel="preconnect" href={siteUrl} />
    <title>taroj1205 - Portfolio</title>
  </head>
  <body>
    <slot />
    <footer>
      <p>
        This portfolio was inspired by <a href="https://catnose.me"
          >catnose.me</a
        >.
      </p>
      <p>
        © 2025 <a href="https://x.com/taroj1205" style="text-decoration: none;"
          >taroj1205</a
        >
      </p>
    </footer>
  </body>
</html>
