---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" type="image/ico" />
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <title>Shintaro Jokagi - Portfolio</title>
  </head>
  <body>
    <slot />
    <footer>
      <p>
        This portfolio was inspired by <a href="https://catnose.me"
          >catnose.me</a
        >.
      </p>
      <p>
        © 2025 <a href="https://x.com/taroj1205" style="text-decoration: none;"
          >taroj1205</a
        >
      </p>
    </footer>
  </body>
</html>
